.separador{
    width: 90%;
    border: 1px solid white;
  }
  .lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #listas{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
  }

  #separadorVertical{
    height: 500px;
    border-left: 1px dotted white;
    margin: 0 100px;
  }